
<div class="urlEdit"><a href="/Logout" id="linkEdit"> Logout </a></div>
{{>display}}
<form action="/ProcessReg1" method="POST" id="headerForm">


Enter username &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="uname" id="unna"> <br>

  Enter password  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="pword">  <br>
  Re-enter password  <input type="text" name="pword2"> <br>
<button onclick="submit" id="btn">Register </button>

</form>